<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.firstcoding.todo.mapper.TodoMapper">

    <select id="selectByTno" resultType="com.firstcoding.todo.domain.TodoDTO">

        select * from tbl_todo where tno=#{tno}

    </select>


    <select id="searchByTnoDuedate" parameterType="com.firstcoding.todo.domain.SearchOption" resultType="com.firstcoding.todo.domain.TodoDTO">

        select * from tbl_todo

        <where>

            <if test="searchType != null and keyword != null">

                <if test="searchType == 'dueDate'">
                    dueDate like concat('%', #{keyword}, '%')
                </if>

                <if test="searchType == 'finished'">
                    finished like concat('%', #{keyword}, '%')
                </if>


            </if>

        </where>

    </select>


    <insert id="registerToDo" parameterType="com.firstcoding.todo.domain.TodoDTO">

        insert into tbl_todo (todo, dueDate) values (#{todo}, #{dueDate})

    </insert>


    <update id="updateTodo" parameterType="com.firstcoding.todo.domain.TodoDTO">

        update tbl_todo set todo=#{todo}, duedate=#{dueDate}, finished=#{finished} where tno=#{tno}

    </update>


    <delete id="deleteTodo">

        delete from tbl_todo where tno=#{tno}

    </delete>

</mapper>